:root {
  --color-primary: #000;
}

.controls {
  position: fixed;
  height: 40px;
  right: 0;
  bottom: 0;
  margin-right: 30%;
  width: auto;
  z-index: 1;
}

.button {
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
  float: left;
  line-height: 40px;
}

.playlist {
  display: table;
  left: 15;
  position: absolute;
  width: 60%;
  height: 25%;
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 50px auto;
  margin-top: 75px;
}

.playlist div {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px;
  font-size: 11pt;
  cursor: pointer;
}

.playlist div.selected {
  background-color: var(--color-primary);
  color: #fff;
}

.playlist div:hover {
  background-color: var(--color-primary);
  color: #fff;
}
