:root {
  --color-primary: #000;
  --color-primary-text: #FFF;
  --color-accent-text: #CCC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #424242;
    --color-primary-text: #F5F5F5;
    --color-accent-text: #E0E0E0;
  }

  body {
    background-color: #212121;
    color: var(--color-primary-text);
  }
}

header {
  background: var(--color-primary);
  color: var(--color-primary-text);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

header > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

header > section > a {
  color: var(--color-accent-text);
}

footer {
  text-align: center;
}

a, button, select {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: 6em;
}

main > a {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 1.2em;
  padding: 0.5em;
}

main > a:active {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

main > a:hover {
  background-color: var(--color-primary);
  color: var(--color-accent-text);
}

main > a.active {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}
